img.images_carrousel_general
{
	/*width:100%;*/
}
div#myCarousel
{
}
.item
{
	position:relative;
}
img.hiddenObject
{
	position:absolute;
}
img.images_carrousel_general
{
	width:100%;
}
.hiddenObject {
  display: none;
}
.plan1 {
  display: inherit;
}



/*LES ITEMS A TROUVER*/
img#ho_compass
{
	top:60%;
	left:59%;
	width:2%;
}
img#ho_anchor
{
	top:65%;
	left:29%;
	width:3%;
}
img#ho_trash
{
	top:53%;
	left:8%;
	width:8%;
}
img#ho_map
{
	top:53%;
	left:8%;
}

