html, body
{
	width:100%;
}
img.images_carrousel_general
{
	/*width:100%;*/
}
div#myCarousel
{
	padding:0;
	margin:0;
}
.item
{
	position:relative;
}
img.hiddenObject
{
	position:absolute;
}
img.images_carrousel_general
{
	width:100%;
}
.hiddenObject {
  display: none;
}
.plan1 {
  display: inherit;
}
.carousel-caption p span
{
	display:block;
	float:left;
	margin-right:20px;
	margin-top:10px;
}
.conteneur_plans
{
	opacity:0.5;
    -moz-opacity:0.5;
    -ms-filter:"alpha(opacity=50)";
    filter:alpha(opacity=50);
	background-color:#FFFFFF;
	border:2px solid #F7E4CE;
	display:none;
	position:absolute;
	top:30%;
	left:30%;
	width:40%;
	height:40%;
}
.informations_plans
{
	color:#181818;
	font-size:13px;
	display:none;
	position:absolute;
	padding:1%;
	top:30%;
	left:30%;
	width:38%;
	height:38%;
	text-align:justify;
}

.informations_plans h3
{
	font-size:14px;
	text-align:center;
}

#lien_vers_infos
{
	position:absolute;
	top:0;
	right:0;
}
#lien_vers_infos a
{
	display:block;
	margin:10px;
}

/*LES ITEMS A TROUVER*/
img#ho_anchor
{
	top:72%;
	left:42%;
	width:3%;
	height:2.5%;
}
img#ho_voile
{
	top:60%;
	left:75%;
	width:4%;
}

img#ho_compass
{
	top:70%;
	left:10%;
	width:2%;
	height:1.5%;
	-webkit-transform: rotate(-17deg);
	-moz-transform: rotate(-17deg);
	transform: rotate(-17deg);
}
img#ho_sextant
{
	top:65%;
	left:66%;
	width:2.5%;
	height:4.5%;
	-webkit-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	transform: rotate(25deg);
}

img#ho_cane
{
	top:58%;
	left:8%;
	width:4%;
}
img#ho_vers
{
	top:63%;
	left:85%;
	width:2%;
	-webkit-transform: rotate(13deg);
	-moz-transform: rotate(13deg);
	transform: rotate(13deg);
}

img#ho_map
{
	top:65%;
	left:30%;
	width:4%;
	height:2.5%;
	opacity:0.4;
    -moz-opacity:0.4;
    -ms-filter:"alpha(opacity=40)";
    filter:alpha(opacity:40);
}


img#ho_coffre
{
	top:58%;
	left:42%;
	width:4%;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
	opacity:0.7;
    -moz-opacity:0.7;
    -ms-filter:"alpha(opacity=70)";
    filter:alpha(opacity=70);
}
